/* Correcting core layout issues. */

ul.redirect {
	overflow: auto;
	padding-bottom: 8px;
	padding-left: 154px;
}

ul.redirect li.selected > div.selectiongroup_item {
	margin-bottom: 0;
}

div.redirect-link {
	margin-bottom: 0;
}

div.redirect-link div.fieldgroup-field,
div.response div.fieldgroup-field {
	float: none;
	padding: 0 !important;
}

div.redirect-link div.fieldgroup-field input,
div.redirect-link div.fieldgroup-field label,
div.response div.fieldgroup-field input,
div.response div.fieldgroup-field label {
	vertical-align: middle;
}

div.redirect-link div.fieldgroup-field input,
div.response div.fieldgroup-field input {
	display: inline;
}
